<div class="box box-1">
  <div class="title-container">
    <h5>Vorhandene Projekte</h5>
  </div>
  <div class="list-box">
    <ul>
      <li *ngFor="let project of projects" class="hover-effect">
        <div class="list-entry">
          <span>{{project.id}}</span>
          <button type="button" (click)="open(project.id)"><span>Open</span></button>

        </div>
      </li>
    </ul>
  </div>
</div>
<div class="box box-2">
  <div class="title-container">
    <h5>Neues Projekt</h5>
  </div>
  <form class="form-vertical" (ngSubmit)="onSubmit()">

    <!--<div *ngIf="msg">
      {{msg}}
    </div>-->
    <label >Projekt Name</label>
    <input type="text"
           autocomplete="off"
           id="projectInput"
           [(ngModel)]="newProjectName"
           name="newProjectName"
           minlength="5"
           required
           placeholder="Projekt name">
    <label >Instrumente</label>
    <fieldset>
      <button
        type="button"
        (click)="toggleInstrument(plugin.id)"
        *ngFor="let plugin of pluginTypes"
        [ngClass]="{'active':plugin.useInDefaultProjectTemplate}"
        name="drums">
        {{plugin.name}}
      </button>

    </fieldset>
    <div>
      <button type="submit" class="btn ">Starten</button>
    </div>

  </form>
</div>




