@import "../../../variables";



.container-wrapper{
  position: relative;
/*  width:100%;
  height:100%;*/
}
.highlight{
  background-color: $color8;
}
.table {
  border-spacing: 0;
  margin-bottom: 0;
  position: absolute;
  td,th{
    padding:0;
  }
  //table-layout: fixed;
}
