<span>{{window.id}}</span>
<div  role="group" class="btn-group float-right">
  <button type="button" class="btn naked-btn" *ngIf="window.state != state.MAXIMIZED" (click)="maximize()">
    <i class="far fa-window-maximize"></i>
  </button>
  <button type="button" class="btn naked-btn" *ngIf="window.state != state.NORMAL" (click)="restore()">
    <i class="far fa-window-restore"></i>
  </button>
  <button type="button" class="btn naked-btn"  *ngIf="window.state != state.MINIMIZED" (click)="minimize()">
    <i class="far fa-window-minimize"></i>
  </button>
</div>
