<ul class="nav">
  <li>
    <a [ngClass]="{'active':daw.project.getValue()?.settings.metronomeSettings.enabled | async}"
       href [routerLink]="" (click)="switchMetronome()"><img class="" src="assets/icons/metronome.png">
    </a>
  </li>
  <li>
    <a [ngClass]="{'active':daw.project.getValue()?.recording | async}"
       href [routerLink]="" (click)="toggleRecord()">REC
    </a>
  </li>
  <li>
    <div>
      <ng5-slider class="" [value]="daw.project.getValue()?.transportSettings.global.bpm" [options]="slider.options"
                  (userChange)="changeTempo($event)">
      </ng5-slider>
    </div>

  </li>
  <li><a href [routerLink]="">{{daw.project.getValue()?.transportSettings.global.bpm}}</a></li>
  <li class="float-right"><a href [routerLink]="" (click)="close()"><i class="fas fa-times"></i></a></li>
  <li class="float-right"><a href [routerLink]="" (click)="save()"><i class="far fa-save"></i></a></li>
</ul>
