.slider-container {
  width: 200px;
  float: right;
}

.toggle-button {
  padding: 0;
}

.scene-toggle-btn {
  height: 100%;
}

:host{
  display:flex;

}

sequencer-footer{
  margin-top: 50px;
  margin-right: 20px;
}

:host /deep/ {



}

