<div class="row  no-gutters" *ngIf="pattern">
  <div class="col-1">
    <span style="color:white">{{highlightColumn}}</span>
  </div>
  <div class="col-11">
    <table class="table table-dark table-bordered header-table">
      <tr >
        <td *ngFor="let header of headerCells" class="text-center" [ngStyle]="{'width':cellWidth+'px','height':cellHeight+'px'}">
          {{header.beat>=0?header.beat+1:""}}
        </td>
      </tr>
    </table>
  </div>

</div>
<div class="row  no-gutters" *ngIf="pattern">

  <div class="col-1">
    <table class="table table-striped table-bordered">
      <tr *ngFor="let note of pattern.notes.length>0?pattern.notes:allNotes">
        <td [ngStyle]="{'width':cellWidth+'px','height':cellHeight+'px'}">{{note}}</td>
      </tr>
    </table>
  </div>
  <div class="col-11">
    <flexytable
      [cellHeight]="cellHeight"
      [cellWidth]="cellWidth"
      [entries]="entries"
      [contentCells]="noteCells"
      [headerCells]="headerCells"
      [useColumnHighlighting]="true"
      [highlightColumn]="highlightColumn"
      (entryUpdated)="onGridEntryUpdated($event)"
      (entryRemoved)="onGridEntryRemoved($event)"
      (entryAdded)="onGridEntryAdded($event)">
    </flexytable>
  </div>
</div>

