@import "../../variables";
@import "../table";


.noteTable{
  table-layout:fixed;
  float:right;


}

.flexy-table-wrapper{
  left:200px;
}
.card{

  height: $main-height*1/3;
  overflow: auto;
}

.card-body {
  padding: 0;
  overflow: auto;
}
