<div class="card">
  <div class="card-body">

    <div *ngIf="pattern" [ngStyle]="{
    'margin-left':tableCells[0]?.width+'px'}">
      <div class="cell" [ngStyle]="{
          'left':-tableCells[0]?.width+'px',
          'top':0,
          'width':tableCells[0]?.width+'px',
          'height':tableCells[0]?.height+'px',
          'line-height':tableCells[0]?.height+'px'}">

      </div>


      <div class="cell"
           *ngFor="let cell of tableCells"
           [attr.data-id]="cell.id"
           (click)="mouseDown(cell)"
           [ngClass]="{
           'header-cell':cell.row===-1,
           'row-header-cell':cell.column===-1,
           'tick-active':cell.tick === tick &&clipIsRunning(),
           'note-cell':cell.row>=0 && cell.column>=0}"

           [ngStyle]="{'left':cell.x+'px','top':cell.y+'px','width':cell.width+'px',
           'height':cell.height+'px','line-height':cell.height+'px'}">

     <!--   (dragover)="dragHandler.onDragOver($event)"
        (dragleave)="dragHandler.onDragLeave($event)"
        (drop)="dragHandler.onDrop($event)"-->


        <span *ngIf="cell.row===-1" class="">{{cell.beat + 1 != 0 ? cell.beat + 1 : ""}}</span>
        <span *ngIf="cell.column===-1" class="">{{cell.note}}</span>
      </div>
      <div class="cell event-cell note-cell"
           *ngFor="let cell of eventCells"
           [attr.data-id]="cell.id"
           (mousedown)="mouseDown(cell)"
           [ngClass]="{'tick-active':cell.tick === tick &&clipIsRunning()}"
           [ngStyle]="{'left':cell.x+'px','top':cell.y+'px','width':cell.width+'px',
           'height':cell.height+'px','line-height':cell.height+'px'}">
      </div>

      <!--interact-resizable
      (resizeStart)="resizeStart()"
      (resizeEnd)="resizeEnd($event)"
      parent=".sequencer-container"
      [cell]="cell"-->
   <!--   [draggable]="pattern.quantizationEnabled.getValue()"
      (dragstart)="dragStart($event,cell)"
      (drag)="dragHandler.onDrag($event)"
      (dragend)="dragHandler.onDragEnd($event)"-->
      <!--[ngStyle]="{'left':cell.x+'px','top':cell.y+'px','width':cell.width+'px',
      'height':cell.height+'px','line-height':cell.height+'px'}">-->
    </div>
  </div>
  <div class="card-footer">
    <quantization [quantization]="pattern.quantization.getValue()"
                  (quantizationChanged)="changeQuantization($event)"></quantization>
    <button type="button"
            (click)="pattern.quantizationEnabled.next(!pattern.quantizationEnabled.getValue())"
            [ngClass]="{'active':pattern.quantizationEnabled.getValue()}"
            class="btn btn-secondary">
      Q
    </button>
    <button type="button" class="btn record-btn" (click)="toggleRecord()">REC</button>
    <button type="button"
            (click)="toggleClip()"
            class="btn btn-primary toggle-button rounded-0 h-100">
      <i class="fas fa-play-circle fa-2x" *ngIf="!clipIsRunning()"></i>
      <i class="fas fa-circle-notch fa-spin fa-2x" *ngIf="clipIsRunning()"></i>
    </button>
  </div>
</div>






