@import "../../variables";

.card {
  width: 100%;
  height: $sequencer-height;

  &.maximized {
    width: 100%;
    height: 100%;
  }
}

.card-body {
  position: relative;
  div {
    margin-left: $cell-width;
    margin-top: 10px;
  }
  overflow: auto;
}

.card-footer{
  .btn{
    margin-right: 5px;
    margin-left: 5px;
  }
}

.slider-container {
  width: 200px;
  float: right;
}

.toggle-button {
  padding: 0;
}

.scene-toggle-btn {
  height: 100%;
}

:host{

}
:host /deep/ {

  /*.sequencer-container {
    position: relative;
    height:800px;
  }*/
  .cell {
    position: absolute;
    border-width: 1px;
    border-style: dashed;
  /*  border-radius: 5px;*/
    text-align: center;
    vertical-align: middle;

    background-color: $tertiary;

    &:hover{
      filter:brightness(110%);
    }
    &.tick-active {
      filter:brightness(90%);
    }
  }

  .header-cell {
    filter:brightness(120%);
    /*&.tick-active {
      background-color: lighten(yellow, 5%);
    }*/
  }
  .row-header-cell {
    filter:brightness(120%);
  }

  .event-cell {
    background-color: $yellow;

      resize: horizontal;
      overflow: auto;

    /*resize: horizontal;
    overflow: auto;*/


  }
  .fill-rect {
    // stroke: $color2;
  }

  .header-text {
    // fill: white;
  }

  .header {
    .fill-rect {
      //  fill: $color1 !important;
    }
  }

  .note-cell {

    /*.fill-rect {

    }

    &.active {
      .fill-rect {
        fill: orange;
      }
      cursor: pointer;
    }
    &.active.tick-active {
      .fill-rect {
        fill: lighten(orange, 5%);
      }
    }*/

    /*&.drag-over {
      .fill-rect {
        fill: orange;
      }
    }*/

  /*  &.tick-active {
      background-color: lighten($primary, 5%);
    }*/
    &.drag-active {
      background-color: darken($primary, 10%);
    }
    &.drag-target {
      background-color: darken(yellow, 10%);
    }


  }

 /* .tick-active {
    .fill-rect {
      fill: lighten(green, 5%);
    }
  }*/
}


