<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.listenToKeyboard}"
  (click)="push.listenToKeyboard=!push.listenToKeyboard">Activate Keyboard</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.mode===1}"
  (click)="learnKeyClick()">Learn Keys</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.settings.showKeyBindings}"
  (click)="push.settings.showKeyBindings=!push.settings.showKeyBindings">Show Keys</button>
<button
  type="button"
  class="btn"

  (click)="movePads(12)">Octave +</button>
<button
  type="button"
  class="btn"

  (click)="movePads(-12)">Octave -</button>
<button
  type="button"
  class="btn"

  (click)="changeSize(4,4)">4</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.settings.scale===ScaleId.CHROMATIC}"
  (click)="setScale(ScaleId.CHROMATIC)">CHROMATIC</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.settings.scale===ScaleId.IONIAN}"
  (click)="setScale(ScaleId.IONIAN)">IONIAN</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.settings.scale===ScaleId.NATURAL_MINOR}"
  (click)="setScale(ScaleId.NATURAL_MINOR)">NATURAL MINOR</button>
