<div class="dropdown">
  <button class="dropbtn" type="button">
    <i class="fas fa-plus"></i>
  </button>

  <div class="dropdown-content">
    <a class=""
       href
       (click)="setSettings(settings.id)"
       [routerLink]=""
       *ngFor="let settings of push.settingsCollection">{{settings.title}}</a>
  </div>
</div>



<button
  type="button"
  class="btn"
  (click)="nextPlugin(-1)"><i class="fas fa-chevron-left"></i></button>
<span>{{push.plugin.getValue()?.getInfo().name}}</span>
<span *ngIf="!push.plugin.getValue()">No target selected</span>
<button
  type="button"
  class="btn"
  (click)="nextPlugin(1)"><i class="fas fa-chevron-right"></i></button>

<button
  type="button"
  class="btn"
  (click)="toggleRecord()">REC</button>

<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.listenToKeyboard}"
  (click)="push.listenToKeyboard=!push.listenToKeyboard">Activate Keyboard</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.mode===1}"
  (click)="learnKeyClick()">Learn Keys</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.settings.showKeyBindings}"
  (click)="push.settings.showKeyBindings=!push.settings.showKeyBindings">Show Keys</button>
<button
  type="button"
  class="btn"

  (click)="movePads(12)">Octave +</button>
<button
  type="button"
  class="btn"

  (click)="movePads(-12)">Octave -</button>
<button
  type="button"
  class="btn"

  (click)="changeSize(4,4)">4</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.settings.scale===ScaleId.CHROMATIC}"
  (click)="setScale(ScaleId.CHROMATIC)">CHROMATIC</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.settings.scale===ScaleId.IONIAN}"
  (click)="setScale(ScaleId.IONIAN)">IONIAN</button>
<button
  type="button"
  class="btn"
  [ngClass]="{'active':push.settings.scale===ScaleId.NATURAL_MINOR}"
  (click)="setScale(ScaleId.NATURAL_MINOR)">NATURAL MINOR</button>
