@import "../../table";

.cell-content {
  z-index: 1;
  cursor: move;
  background-color: red;
  position: absolute;
  //background-color: green;
}
.container-wrapper{
  position: relative;
}

.table {
  table-layout: fixed;

}

td {
  //position: relative;

}
