@import "../../../variables";


.cell-content {
  z-index: 1;
  cursor: move;
  background-color: $color7;
  position: absolute;
}
.container-wrapper{
  position: relative;
}
.table {
  table-layout: fixed;
}
