@import "../../../variables";




.card {
  z-index: 2000;
  position: absolute;
  left:100px;
  top:100px;
  resize: both;
  width:$sequencer-width;
  height:$sequencer-height;
}

.card-body {
  overflow: auto;
}

.toggle-button{
  color:$color7;
  height: 100%;
}
.scene-toggle-btn{
  color:$color7;
  height: 100%;
}


:host /deep/ {
  svg {
    @import "sequencer.d3";
  }
}


