@import "../../../variables";


.position-indicator{
  stroke:red;
  stroke-width: 5px;
}
.fill-rect{
  stroke:black;
}

.header-text{
  fill:$color4;
}
.header{
  .fill-rect{
    fill:$color1 !important;
  }
  &.tick-active{
    .fill-rect{
      fill:green;
    }
  }
}
.note-cell{
  .fill-rect{
    fill:$color11;
  }
  &.active{
    .fill-rect{
      fill:blue;
    }
  }
  &.tick-active{
    .fill-rect{
      fill:green;
    }
  }

}

