<div
  class="card bg-secondary shadow-lg rounded"
  interact
  parent="#daw-main-container"
  #card>
  <!-- [ngStyle]="{'left':window.x+'px','top':window.y+'px','width':window.width+'px','height':window.height+'px'}"-->
  <div class="card-header drag-handle">
    <quantization [params]="track.transport.params"></quantization>
    <button type="button"
            (click)="toggleClip()"
            class="btn btn-primary toggle-button shadow-sm float-left rounded-0">
      <i class="fas fa-play-circle fa-2x" *ngIf="!clipIsRunning()"></i>
      <i class="fas fa-circle-notch fa-spin fa-2x" *ngIf="clipIsRunning()"></i>
    </button>
    <button type="button" class="close" (click)="close.emit()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body shadow-lg">

    <svg #svg id="sequencer-svg"></svg>
   <!-- <div class="row  no-gutters">
      <div class="col-1">
        <span style="color:white">{{highlightColumn}}</span>
      </div>
      <div class="col-11">
        <table class="table table-dark table-bordered header-table">
          <tr>
            <td *ngFor="let header of headerCells" class="text-center"
                [ngStyle]="{'width':cellWidth+'px','height':cellHeight+'px'}">
              {{header.beat>=0?header.beat+1:""}}
            </td>
          </tr>
        </table>
      </div>

    </div>
    <div class="row  no-gutters">

      <div class="col-1">
        <table class="table table-striped table-bordered" *ngIf="track.focusedPattern">
          <tr *ngFor="let note of track.focusedPattern.notes.length>0?track.focusedPattern.notes:allNotes">
            <td [ngStyle]="{'width':cellWidth+'px','height':cellHeight+'px'}">{{note}}</td>
          </tr>
        </table>
      </div>
      <div class="col-11">

        &lt;!&ndash;  <flexytable
            [entries]="entries"
            [contentCells]="noteCells"
            [headerCells]="headerCells"
            [useColumnHighlighting]="true"
            [highlightColumn]="highlightColumn"
            (entryUpdated)="onGridEntryUpdated($event)"
            (entryRemoved)="onGridEntryRemoved($event)"
            (entryAdded)="onGridEntryAdded($event)">
          </flexytable>&ndash;&gt;
      </div>
    </div>-->

  </div>
</div>
