@import "../../../variables";

.position-indicator{
  stroke:red;
  stroke-width: 5px;
}
.fill-rect{
  stroke:black;
}
.header{
  .fill-rect{
    fill:yellow !important;
  }
}
.note-cell{
  .fill-rect{
    fill:white;
  }
  &.active{
    .fill-rect{
      fill:blue;
    }
  }
}
