@import "../../../variables";

$width:150px;
.matrix-table{
  td{
    width:$width;
    max-width: $width;
    height:50px;
    padding:0;
  }
}

.matrix-container {
  position: relative;
  overflow: auto;
  height:$matrix-height;
}

.cell-container{
  background-color: $color7;
  width: 100%;
  height:100%;
}

.console-table{
  margin-bottom: 0;
  height:$console-height;
  td{
    width:$width;
    max-width: $width;
    padding:0;
  }
}

.matrix-table{

  td{

    &.drag-active{
      background-color: yellow;
    }
    &.drag-target{
      background-color: blue;
    }

    &.active{
      background-color: red;
    }
  }
}

.toggle-button{
  color:$color7;
  height: 100%;
}
.scene-toggle-btn{
  color:$color7;
  height: 100%;
}
