<div class="matrix-container">

  <table class="table table-bordered table-sm matrix-table animated fadeIn">
    <thead>
    <tr class="d-flex">
      <th class="row-header col-1"></th>
      <th class="text-center col-1"
          [ngStyle]="{'background-color':getTrack(cell.trackId)?.color}"
          *ngFor="let cell of project.matrix.header" [attr.id]="cell.id">
        <span>{{cell.data?.name}}</span>
        <colorpicker class="color-picker float-right"
                     (colorChanged)="colorChanged($event,cell.trackId)"
                     [colors]="project?.colors"
                     [color]="getTrack(cell.trackId)?.color">

        </colorpicker>
      </th>
      <th class="text-center col-1">
        <plugin-dropdown [plugins]="project.plugins" (pluginSelected)="pluginSelected($event)"></plugin-dropdown>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="d-flex animated"
        [ngClass]="{
        'fadeInLeft':project.matrix.rowHeader[i].animation==='1',
        'fadeOut':project.matrix.rowHeader[i].animation==='2'
        }"
        *ngFor="let row of project.matrix.body;let i = index">
      <td class="row-header col-1">
        <div class="btn-group  w-100">
          <button type="button" class="btn btn-primary" (click)="removeRow(i)"><i class="far fa-trash-alt"></i></button>
          <button type="button"
                  (click)="onRowHeaderClicked(project.matrix.rowHeader[i])"
                  class="btn btn-primary scene-toggle-btn rounded-0">
            <i class="fas fa-play fa-2x" *ngIf="project.activeSceneRow!=i"></i>
            <i class="fas fa-stop fa-2x" *ngIf="project.activeSceneRow===i"></i>
          </button>
        </div>

      </td>
      <td
        draggable="true"
        *ngFor="let cell of row"
        class="draggable col-1"

        (dblclick)="bodyCellDblClicked(cell)"
        (click)="bodyCellClicked(cell)"
        [attr.id]="cell.id"
        (dragstart)="dragHandler.onDragStart($event,cell)"
        (dragover)="dragHandler.onDragOver($event)"
        (dragleave)="dragHandler.onDragLeave($event)"
        (drag)="dragHandler.onDrag($event)"
        (dragend)="dragHandler.onDragEnd($event)"
        (drop)="dragHandler.onDrop($event)">
        <div class="cell-container"
             [ngStyle]="{'background-color':getTrack(cell.trackId).color}"
             [ngClass]="{'marked':cell.data?.marked}"
             *ngIf="cell.data" (click)="onCellContainerClicked(cell)">
          <button type="button"
                  (click)="onCellBtnClicked(cell,$event)"
                  class="btn btn-primary toggle-button shadow-sm float-left rounded-0">
            <i class="fas fa-play-circle fa-2x" *ngIf="!project.isRunningWithChannel(cell.data.id)"></i>
            <i class="fas fa-circle-notch fa-spin fa-2x" *ngIf="project.isRunningWithChannel(cell.data.id)"></i>
          </button>
        </div>

      </td>

    </tr>
    </tbody>
  </table>
  <button
    *ngIf="project?.matrix.rowHeader.length>0"
    (click)="addRow()"
    class="btn btn-primary add-row-btn">
    <span>Add Row </span>
  </button>

  <!--<div class="table-responsive console-container">
    <table class="table table-bordered table-dark table-sm console-table">
      <tbody>
      <tr>
        <td></td>
        <td *ngFor="let cell of project.matrix.header;let i=index" [attr.id]="cell.id">
          <track-controls [project]="project" [track]="project.tracks[i]"></track-controls>
        </td>
      </tr>
      </tbody>
    </table>
  </div>-->
</div>




