@import "../../../variables";
@import "add-row-btn";

$width: 150px;

.color-picker {
  width: 30px;
}

.matrix-container {
  position: relative;
  overflow: auto;
  height: $matrix-height;
  background-color: $primary;
}

.table {
  margin-bottom: 0;
}

.cell-container {
  width: 100%;
  height: 100%;

  &.marked {

    //background-color: darken($patternColor,20%);
  }
}

.console-table {
  margin-bottom: 0;
  height: $console-height;
  position: absolute;
  bottom: 0;
  td {
    width: $width;
    max-width: $width;
    padding: 0;
  }
}

.matrix-table {

  border-bottom: 0;
  .add-row-cell {
    border: 0;
  }
  th {
    background-color: $secondary;
    height: 50px;
    padding: 0;
    /*  border-bottom: 1px solid $primary-color;
      border-right: 1px solid $primary-color;*/
  }
  td {
    height: 50px;
    padding: 0;
    /*   border-right: 1px solid $primary-color;
       border-bottom: 1px solid $primary-color;*/
    &.drag-active {
      //background-color: yellow;
    }
    &.drag-target {
      background-color: darken($color11, 10%);
    }
  }

  td:hover {
    background-color: lighten($primary, 5%);
  }

  .row-header {

  }

}

.toggle-button {
  border: none;
  border-right: 1px solid $secondary;
  background-color: transparent;
  height: 100%;

}

.scene-toggle-btn {
width:100%;
  height: 100%;
}

