<div class="btn-group  btn-group-lg" role="group" aria-label="controls">
  <button type="button" class="btn btn-primary  btn-start" (click)="project.start(null,null)"><i class="fas fa-play"></i></button>
  <button type="button" class="btn btn-primary  btn-stop" (click)="project.stop()"><i class="fas fa-stop"></i></button>
  <button type="button" class="btn btn-primary  btn-pause" ><i class="fas fa-pause"></i></button>
  <button type="button" class="btn btn-primary  btn-forward" disabled="disabled"><i class="fas fa-forward"></i></button>
  <button type="button" class="btn btn-primary  btn-backward" disabled="disabled"><i class="fas fa-backward"></i></button>
  <button type="button" class="btn btn-danger" disabled="disabled"><i class="fas fa-play-circle"></i></button>
</div>



