<!--

<div class="row">
  <div class="col-xs-12">
    <label for="bpm" class="range-label">{{transport.params.bpm}}</label>
    <div class="btn-group inc-buttons" role="group">
      <button class="btn-default" (click)="increase(1)">+</button>
      <button class="btn-default" (click)="increase(-1)">-</button>
      <button class="btn-default" (click)="increase(5)">+5</button>
      <button class="btn-default" (click)="increase(-5)">-5</button>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <div class="slidecontainer">
      <input type="range" class="slider" [(ngModel)]="transport.params.bpm" name="bpm" id="bpm" min="{{minBpm}}" max="{{maxBpm}}"
             step="1">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <label for="beats" class="range-label">{{transport.params.signature.beatUnit.getValue()}}</label>
        <div class="slidecontainer">
          <input type="range" class="slider" [(ngModel)]="transport.params.signature.beatUnit.getValue()" name="beats" id="beats" min="1" max="8"
                 step="1">
        </div>
      </div>
      <div class="col-xs-6">
        <label for="bars" class="range-label">{{transport.params.signature.barUnit}}</label>
        <div class="slidecontainer">
          <input type="range" class="slider" [(ngModel)]="transport.params.signature.barUnit.getValue()" name="bars" id="bars" min="1" max="8" step="1">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row metronome-trigger-container">
  <div class="col-xs-12 center">
    <transport></transport>
  &lt;!&ndash;  <start-button (toggled)="onStartBtnToggled($event)" iconOff="fas fa-stop fa-3x"
                  iconOn="fas fa-power-off fa-4x"></start-button>&ndash;&gt;

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <beatviewer [signature]="transport.params.signature" [transport]="transport"></beatviewer>
  </div>
</div>



-->
