@import "../../variables";
@import "../table";

.table-container {
  height: $main-height*2/3;
  overflow: auto;
  width: auto;
}



.btn-default {

}

.btn-active {

}


button {
  height: 100%;
}

.grid-button {
  &.active {

  }
}

:host {

}


