<!--
<div class="table-container">
  <table *ngIf="projectViewModel && projectViewModel.grid" class="table table-striped table-bordered table-hover">&lt;!&ndash;table table-dark table-hover&ndash;&gt;
    <thead>
    <tr>
      <th class="" >X</th>
      <th *ngFor="let col of projectViewModel.grid.columns" class="" >
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            &lt;!&ndash; <span *ngIf="col.instrument"></span>
             <span *ngIf="!col.instrument">Instrument</span>&ndash;&gt;
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="" (click)="selectInstrument('')">None</a>
            <a *ngFor="let instr of instruments"
               [ngClass]="{'dropdown-item':true,'active':col.instrument?col.instrument.getId()===instr:false}"
               [routerLink]=""
               (click)="selectInstrument(instr,col)">{{instr}}</a>
          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of getRows();let i  = index">
      <th scope="row" class="">{{i}}</th>
      <td *ngFor="let column of getColumns();let j=index"
          [ngClass]="{'table-active':getCell(i,j).patternId,'focused':getPattern(getCell(i,j).patternId)?.isBeingEdited}"
          (dblclick)="onCellDblClicked(getCell(i,j))"
          (click)="onCellClicked(getCell(i,j))"><span *ngIf="getCell(i,j).patternId">X</span>
       &lt;!&ndash; <button type="button" class="btn  btn-block"
                [ngClass]="{'btn-secondary':!getCell(i,j).patternId,'btn-primary':getCell(i,j).patternId}"
                (click)="onCellClicked(getCell(i,j))">&nbsp;{{getCell(i,j).patternId}}
        </button>&ndash;&gt;
      </td>

    </tr>
    </tbody>
    &lt;!&ndash;<tfoot>
    <tr>
      <td class="header-cell"></td>
      <td *ngFor="let col of columns" class="header-cell">
        <span *ngIf="col.track && col.track.instrument">{{col.track.instrument.getId()}}</span>
      </td>
    </tr>
    </tfoot>&ndash;&gt;
  </table>
</div>

-->
