@import "variables.scss";
@import "effects";

:host {
  &.block{
    button {
      width: 100%;
      height: 100%;
    }
  }

  &.primary{
    background-color: red;
  }

}


//$btn-bg-base:$primary;
button {
  /*width:50px;
  height:50px;*/
  //@extend .hover-effect;
 /* &.shadowed{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }*/
  background-image: linear-gradient(to bottom right, $accent-alt, darken($accent-alt,10%));
  border-radius: 2px;
  //color:$black;
  border: none;
  //padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;


  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

 /* &.lg{
    width:40px;
    height:40px;
  }*/
}

/*button:hover {
  background-color: red; !* Green *!
  color: white;
}*/



/*
@import "theme";

button {
  color: black;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  !*width: 50px;
  height: 50px;*!



}

@mixin color-button($color) {
  button{
    background-color: $color;
    &:hover {
      background-color: light($color);
    }
  }

}

:host(.stretch) {
  button {
    width: 100%;
    height: 100%;
  }
}

:host(.primary) {
  @include color-button($color-primary);
}
:host(.secondary)  {
  @include color-button($color-secondary);
}
:host(.tertiary) {
  @include color-button($color-tertiary);
}
:host(.accent)  {
  @include color-button($color-accent);
}
*/
