/* RGB */
$color1: #E37222;
$color2: #07889B;
$color3: #66B9BF;
$color4: #EEAA7B;

$primary-color:$color1;
$secondary-color:$color2;
$tertiary-color:$color3;
/*$quaternary-color:$color4;*/
$contrast-color:white;
$contrast-color2:black;
