/* RGB */
$color1: #96858F;
$color2: #6D7993;
$color3: #9099A2;
$color4: #D5D5D5;

$primary-color:$color2;
$secondary-color:$color3;
$tertiary-color:$color1;
$quaternary-color:$color4;
$contrast-color:black;
