@import "colors";

$header-base-color: darkgray;
$header-height: 50px;
$scrollbar-color: darkgray;
$window-background: lighten($header-base-color,20%);
$font-color:$contrast-color2;
$button-color:$contrast-color;


