@import "colors";

$header-base-color: $primary-color;
$header-height: 50px;
$scrollbar-color: darkgray;
$window-background: $quaternary-color;
$font-color:$contrast-color;
$button-color:$contrast-color;


