@import "colors";
@import "mixins";

button{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

  //@include background-gradient(red, black, 'vertical');
}
button{
  border-radius: 5px;
  //border-color:transparent;
  /*   -webkit-transition-duration: 0.4s; !* Safari *!
     transition-duration: 0.4s;*/
  opacity: 0.6;
}

button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
button:hover {opacity: 1}


