.btn-group .btn {
  padding: 1px 1px; /* Some padding */
  float: left; /* Float the buttons side by side */
  margin:4px;
}


/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group{
  padding: auto;
}
