<div class="main theme-default">
  length{{plugins.length}}
  <ng-content></ng-content>

  <div *ngFor="let plugin of plugins" class="shortcut" (dblclick)="onShortcutClicked(plugin)"
       [ngStyle]="{'left':view.reference.index*100+'px'}">
    <span class="title no-select">{{plugin.title()}}</span>
  </div>

  <footer class="footer">

    <table class="table">
      <tbody>
      <tr>
        <td  *ngFor="let plugin of activePlugins" (click)="onTaskbarClick(plugin)"><span class="no-select">{{plugin.title()}}</span></td>
      </tr>
      </tbody>
    </table>
  </footer>
</div>
