@import "variables";



.footer {


  table {
    width: 100%;
    height:100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 0;
    background-color: black;
  }

  table, th, td {
    border: 1px solid white;
    background-color: black;
    color:$font-color;
  }

  td:hover {
    background-color: darkgrey;

  }

  height:5vh;
  position: absolute;
  width:100%;
  bottom: 0;

}

.shortcut{
  position: absolute;
  width:50px;
  height:50px;
  background-color: darkorange;
}
.main{


  height:100vh;
  //max-height: 10%;
  width: 100%;
  color: $font-color;
  position: absolute;
  overflow: hidden;
  //background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

 /* background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;*/

  /*background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;*/


  background: #4e5d74;
  background: linear-gradient(#54647d, #313946);

  //background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  background-blend-mode: screen;

}

:host /deep/{

  @import "button-groups";
  @import "scss/slider";

  .toolbar{
    .button{
      width:100%;
    }
  }

  .title{
    pointer-events: none;
    text-align: center;
  }
  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
}
