<div
  class="card bg-secondary shadow-lg rounded"
  interact
  parent="#daw-main-container"
  #card>
  <!-- [ngStyle]="{'left':window.x+'px','top':window.y+'px','width':window.width+'px','height':window.height+'px'}"-->
  <div class="card-header drag-handle">
    <quantization [quantization]="pattern?.quantization.getValue()"
                  (quantizationChanged)="changeQuantization($event)"></quantization>
    <button type="button"
            (click)="toggleClip()"
            class="btn btn-primary toggle-button shadow-sm float-left rounded-0">
      <i class="fas fa-play-circle fa-2x" *ngIf="!clipIsRunning()"></i>
      <i class="fas fa-circle-notch fa-spin fa-2x" *ngIf="clipIsRunning()"></i>
    </button>
    <button type="button"
            (click)="pattern.quantizationEnabled.next(!pattern.quantizationEnabled.getValue())"
            [ngClass]="{'active':pattern.quantizationEnabled.getValue()}"
            class="btn btn-secondary">
      Quantization Enabled
    </button>
    <button type="button" class="close" (click)="close.emit()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="card-body shadow-lg">
    <div class="slider-container">
      <ng5-slider [value]="pattern?.getLengthInBars()" [options]="lengthSlider.options"
                  (userChange)="changePatternLength($event)">

      </ng5-slider>
    </div>
    <div *ngIf="pattern" class="sequencer-container">
      <div class="cell"
           *ngFor="let cell of cells"
           [attr.data-id]="cell.id"
           (click)="onCellClicked(cell)"
           jquery-draggable
           [dragEnabled]="cell.data && cell.row>0 && cell.column>0 && pattern.quantizationEnabled.getValue()===false"
           (jqDragStart)="dragStart()"
           (jqDragEnd)="dragEnd($event)"
           [draggedCell]="cell"

           [draggable]="cell.data && cell.row>0 && cell.column>0 && pattern.quantizationEnabled.getValue()"
           (dragstart)="dragHandler.onDragStart($event,cell)"
           (dragover)="dragHandler.onDragOver($event)"
           (dragleave)="dragHandler.onDragLeave($event)"
           (drag)="dragHandler.onDrag($event)"
           (dragend)="dragHandler.onDragEnd($event)"
           (drop)="dragHandler.onDrop($event)"

           [ngClass]="{
           'header-cell':cell.row===-1,
           'row-header-cell':cell.column===-1,
           'event-cell':cell.data,
           'tick-active':cell.tick === tick &&clipIsRunning(),
           'note-cell':cell.row>=0 && cell.column>=0}"
           [ngStyle]="{'left':cell.x+'px','top':cell.y+'px','width':cell.width+'px',
           'height':cell.height+'px','line-height':cell.height+'px'}">

        <span *ngIf="cell.row===-1" class="">{{cell.beat + 1 != 0 ? cell.beat + 1 : ""}}</span>
        <span *ngIf="cell.column===-1" class="">{{cell.note}}</span>
      </div>
    </div>


  </div>
</div>

<!--[draggable]="cell.data && cell.row>0 && cell.column>0 && pattern.quantizationEnabled.getValue()"
           (dragstart)="dragHandler.onDragStart($event,cell)"
           (dragover)="dragHandler.onDragOver($event)"
           (dragleave)="dragHandler.onDragLeave($event)"
           (drag)="dragHandler.onDrag($event)"
           (dragend)="dragHandler.onDragEnd($event)"
           (drop)="dragHandler.onDrop($event)"-->

<!--interact
(resizeStart)="resizeStart()"
(resizeEnd)="resizeEnd($event)"
[enabled]="cell.column>=0 && cell.row>=0 && cell.data!=null"
parent=".sequencer-container"-->



