<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th  *ngFor="let cell of project.grid.headerCells" [ngStyle]="" class="">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span *ngIf="cell.data">{{cell.data.pluginId}}</span>
          <span *ngIf="!cell.data">Plugin</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item"  href="javascript:void(0);" (click)="setPlugin(null,cell)">None</a>
          <a *ngFor="let plugin of plugins"
             href="javascript:void(0);"
             [ngClass]="{'dropdown-item':true,'active':cell.data&&cell.data.pluginId?cell.data.pluginId==plugin:false}"
             (click)="setPlugin(plugin,cell)">{{plugin}}</a>
        </div>
      </div>
    </th>
  </tr>
  </thead>
</table>
<flexytable *ngIf="project"
  (entryRemoved)="onGridEntryRemoved($event)"
  (entryAdded)="onGridEntryAdded($event)"
  (entryUpdated)="onGridEntryUpdated($event)"
  (entryClicked)="onEntryClicked($event)"
  (cellClicked)="onCellClicked($event)"
  [contentCells]="project.grid.contentCells"
  [headerCells]="project.grid.headerCells"
  [entries]="project.grid.entries">
</flexytable>
<!--<table *ngIf="project" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th *ngFor="let cell of project.grid.headerCells" class="">


    </th>
  </tr>
  </thead>
</table>-->

