@import "../../../variables";

.top-navbar {
  height: $header-height;
  background-color: $white;

  .btn {
    margin-right: 5px;
  }
}

.tab-pane {
  height: $footer-height;
}

.main-container{
  margin-bottom: $footer-height;
}

.footer {
  background-color: $secondary;
  height: $footer-height;
  /* background-color: $primary;*/
}

.dropdown-toggle::after {
  display: none;
}

nav {
  padding: 0;
}

.sequencer-container,.plugin-container {
  position: absolute;
  z-index: $z-index-sequencer;
}

.plugin-window{
  width:800px;
  height:800px;
}
:host /deep/ {
  .ng5-slider {
    margin: 0;
    width: 200px;

  }
}
