@import "../../../variables";


.container-fluid{
  height:$main-height;
  overflow: auto;
}
nav{
  padding:0;
}
.daw-grid-container{
  height: $main-height*2/3;
  overflow: auto;
}

.sequencer-container{
  height: $main-height*1/3;
  overflow: auto;
}
