<nav class="navbar navbar-light bg-light fixed-top top-navbar">
  <form class="form-inline">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="btn btn-outline-success" type="button" (click)="save()">Save</button>
    <button class="btn btn-outline-success" type="button" (click)="close()">Close</button>
    <button type="button" class="btn btn-secondary" [ngClass]="{'active':project?.metronomeEnabled | async}"
            (click)="switchMetronome()">Metronome
    </button>

    <!--<rangeslider
      [min]="30"
      [max]="240"
      [orientation]="'horizontal'"
      [value]="project?.transport.getBpm()"
      (valueChanged)="changeTempo($event)">
    </rangeslider>-->
  </form>
  <form class="form-inline">
    <div class="slider-container">
      <ng5-slider [value]="project?.transportSettings.global.bpm" [options]="slider.options" (userChange)="changeTempo($event)">

      </ng5-slider>
    </div>

  </form>
  <transport class="float-right" [project]="project"></transport>
</nav>
<div id="daw-main-container">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-2">
        <plugin-list [plugins]="project?.plugins"></plugin-list>
      </div>
      <div class="col-10">
        <daw-matrix [project]="project" *ngIf="project"></daw-matrix>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <sequencer2 *ngIf="project?.ready && project?.sequencerOpen"
                    [project]="project"
                    [pattern]="project?.selectedPattern | async"
                    [window]="project?.windows[0]"
                    (close)="closeSequencer()"></sequencer2>
      </div>
    </div>

  </div>
</div>

<project-observer *ngIf="project?.ready" [project]="project" [tracks]="project?.tracks"></project-observer>

<div class=" footer fixed-bottom">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
  </div>
 <!-- <effects-panel [track]="project?.selectedTrack"></effects-panel>-->
</div>

<!--
<div class="row daw-grid-container" *ngIf="project">
  <div class="col-xs-12">
    <daw-grid
      (focusedPatternChanged)="focusedPatternChanged($event)"
      (pluginChanged)="onPluginChanged($event)"
      (trackAdded)="onTrackAdded($event)"
      (trackRemoved)="onTrackRemoved($event)"
      [project]="project.model">
    </daw-grid>
  </div>
</div>
<div class="row console-container" *ngIf="project">
  <div class="col-xs-12">
    <console *ngIf="project" [project]="project"></console>
  </div>
</div>

<div class="row sequencer-container" *ngIf="project">
  <div class="col-xs-12">
  &lt;!&ndash;  <sequencer *ngIf="project" [pattern]="focusedPattern" [cellWidth]="100" [cellHeight]="50"></sequencer>&ndash;&gt;
  </div>
</div>
<pattern-observer *ngIf="project" [project]="project" [pattern]="focusedPattern" [track]="focusedTrack"></pattern-observer>
<nav class="navbar navbar-dark bg-light footer fixed-bottom">
  <daw-control *ngIf="project" [project]="project"></daw-control>
</nav>
-->
