@import "../../../variables";

.top-navbar{
  height:$header-height;
}
.container-fluid{
  height:$main-height;
  padding:0;

}


nav{
  padding:0;
}
.daw-grid-container{
  height: $main-height*2/3;
  overflow: auto;
}
