
<rangeslider [min]="0" [max]="100" [value]="track.gain.getValue()" (valueChanged)="setGain($event)" ></rangeslider>
<div class="btn-toolbar" role="toolbar" aria-label="">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">S</button>
    <button type="button" class="btn btn-secondary">M</button>
    <button type="button" class="btn btn-secondary">R</button>
  </div>
  <!-- <div class="btn-group mr-2" role="group" aria-label="Second group">
     <button type="button" class="btn btn-secondary">5</button>
     <button type="button" class="btn btn-secondary">6</button>
     <button type="button" class="btn btn-secondary">7</button>
   </div>
   <div class="btn-group" role="group" aria-label="Third group">
     <button type="button" class="btn btn-secondary">8</button>
   </div>-->
</div>
