<div>

</div>
<div></div>

<div class="row">
  <div class="col-6">
    <div class="btn-group-vertical justify-content-start" role="group">
      <button type="button" class="btn "
              [ngClass]="{'active':track.controlParameters.mute.getValue()===false}"
              (click)="mute()">
        <span>1</span>
      </button>
      <button type="button" class="btn "
              [ngClass]="{'active':track.controlParameters.solo.getValue()}"
              (click)="solo()">S
      </button>
      <button type="button" class="btn "
              [ngClass]="{'active':track.controlParameters.record.getValue()}"
              (click)="arm()"><i
        class="fas fa-circle"></i></button>
    </div>

  </div>
  <div class="col-6">
    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
<!--    <rangeslider class="" (valueChanged)="changeGain($event)" [value]="track.controlParameters.gain"></rangeslider>-->
  </div>
</div>
