@import "../../../variables";

.effects-block{
  color:white;
  background-color: $color-5;
  height:100%;
  border-right: 1px solid $black;
  &:hover{
    filter:brightness(120%);
  }
}

.row{

}
.card-body{

  //height: $footer-height;
}
:host {

}
