@import "../variables";

table{
  table-layout: fixed;
}
th{
  background-color: $table-head-bg; // bootstrap fix; variable doesnt work
}

td.focused{
  background-color: darken($table-active-bg,30%);
}

th, td {

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

  text-align: center;
  //min-width: 50px !important;
  padding:0;
}

/*table {
  border-collapse: collapse;
  table-layout: fixed;
}

th{
  border: 1px solid black;


}
table, th, td {
 // border: 1px solid black;


}
tr:hover {
  outline:2px solid black;
!*  border: 2px solid black;*!
}
th, td {
  text-align:center;
  overflow: hidden;
  padding: 1px;


}*/


/*th {
  text-align:center;
}*/
