<table class="table table-bordered table-primary table-sm console-table">
  <tbody>
  <tr class="d-flex">
    <td class="col-1" >
      <div class=" h-100 w-100">

      </div>
    </td>
    <td class="col-1"  *ngFor="let cell of project.matrix.header;let i=index" [attr.id]="cell.id">
      <div class="slider-container d-flex justify-content-center">
        <ng5-slider [(value)]="slider.value" [options]="slider.options" (userChange)="changeGain($event,cell.data)">

        </ng5-slider>
      </div>
     <!-- <div class="btn-group-vertical" role="group" aria-label="Basic example">
        <button type="button" class="btn mute-btn" [disabled]="!cell.data"
                [ngClass]="{'active':cell.data?.controlParameters.mute.getValue()}" (click)="mute(cell.data)">M</button>
        <button type="button" class="btn solo-btn" [disabled]="!cell.data"
                [ngClass]="{'active':cell.data?.controlParameters.solo.getValue()}" (click)="solo(cell.data)">S</button>
      </div>-->
    </td>
  </tr>
  </tbody>
</table>

