<div class="btn-group-vertical">
  <button type="button" class="lg"  [ngClass]="{'active':quantization===0.25}"
          (click)="quantizationChanged.emit(0.25)">1/4</button>
  <button type="button"
          class="lg"
          [ngClass]="{'active':quantization===0.125}"
          (click)="quantizationChanged.emit(0.125)">1/8</button>
  <button type="button"
          class="lg"
          [ngClass]="{'active':quantization===0.0625}"
          (click)="quantizationChanged.emit(0.0625)">1/16</button>
  <button type="button"
          class="lg"
          [ngClass]="{'active':quantization===0.083333333333333}"
          (click)="quantizationChanged.emit(0.083333333333333)">8th Trip</button>
</div>

