@import "../../../../variables";

.row{
  padding-top:5px;
}
.mute-btn {
  background-color: yellow;
  &.active {
    background-color: darken(yellow, 10%);
  }
}

.solo-btn {
  background-color: yellow;
  &.active {
    background-color: darken(yellow, 10%);
  }
}

.controls-container{
  width:100%;
  height:$console-height;
}

:host{

}



