@import "../../../../variables";
.footer {
  background-color: $secondary;
  height: $footer-height;
  z-index: $z-index-footer;
  /* background-color: $primary;*/
}

.card{
  max-width: 250px;
}
.card-header{
 // height:$footer-height;
}
