.btn-group{
  height:100%;
  width:100%;

}

$btn-focus-box-shadow:none;
.btn{
  padding:0;
  background-color: transparent;
  border:none;
  border-left:1px solid black;
}
.dropdown-toggle::after{

}
.dropdown-menu{
  //background-color: black;
  //padding:0;

}
.dropdown-item{
 // padding:0;
}

:host{
  height:100%;
}
