:host /deep/ {

  text{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 6px;
    font-weight: normal;
    fill: white;
    text-anchor: middle;
  }

  .background{
    fill:lightgray;
  }
}
