<div class="btn-toolbar justify-content-between" role="toolbar" >

  <!--<toolbar>
  &lt;!&ndash; <rangeslider [min]="40" [max]="250" [value]="project.bpm" (valueChanged)="setBpm($event)"></rangeslider>&ndash;&gt;
    <span>{{project.bpm}}</span>
    <button type="button" class="btn btn-secondary" [ngClass]="{'active':project.quantization===0.25}"
            (click)="setQuantization(0.25)">1/4</button>
    <button type="button" class="btn btn-secondary"
            [ngClass]="{'active':project.quantization===0.125}"
            (click)="setQuantization(0.125)">1/8</button>
    <button type="button" class="btn btn-secondary"
            [ngClass]="{'active':project.quantization===0.0625}"
            (click)="setQuantization(0.0625)">1/16</button>
    <button type="button" class="btn btn-secondary"
            [ngClass]="{'active':project.quantization===0.083333333333333}"
            (click)="setQuantization(0.083333333333333)">8th Trip</button>
    <button type="button" class="btn btn-secondary" [ngClass]="{'active':project.metronomeEnabled}"
            (click)="switchMetronome()">Metronome</button>
  </toolbar>-->
</div>
<!--[attr.checked]="project.metronomeEnabled?'':null"-->
<!--(click)="project.metronomeEnabled=!project.metronomeEnabled"-->
