<quantization [quantization]="pattern.quantization.getValue()"
              (quantizationChanged)="changeQuantization($event)"></quantization>
<div class="btn-group-vertical">
  <button type="button"
          (click)="pattern.quantizationEnabled.next(!pattern.quantizationEnabled.getValue())"
          [ngClass]="{'active':pattern.quantizationEnabled.getValue()}"
          class="lg">
    Q
  </button>
  <button type="button" class="lg"
          (click)="toggleClip()">
    <i class="fas fa-play-circle" *ngIf="!clipIsRunning()"></i>
    <i class="fas fa-circle-notch fa-spin" *ngIf="clipIsRunning()"></i>
  </button>
</div>



<!--<notelength (noteLengthSelected)="noteLengthSelected($event)"></notelength>-->
