<quantization [quantization]="pattern.quantization.getValue()"
              (quantizationChanged)="changeQuantization($event)"></quantization>

<div class="row">
  <div class="col-xs-12">
    <div class="button-group">
      <button type="button"
              (click)="pattern.quantizationEnabled.next(!pattern.quantizationEnabled.getValue())"
              [ngClass]="{'active':pattern.quantizationEnabled.getValue()}"
              class="btn">
        Q
      </button>
      <button type="button"
              (click)="toggleClip()"
              class="btn">
        <i class="fas fa-play-circle" *ngIf="!clipIsRunning()"></i>
        <i class="fas fa-circle-notch fa-spin" *ngIf="clipIsRunning()"></i>
      </button>
      <button type="button" class="btn" (click)="openPads()">Open Pads</button>
    </div>

  </div>

</div>
<!--

<div class="btn-group">

</div>-->


<!--<notelength (noteLengthSelected)="noteLengthSelected($event)"></notelength>-->
