/*
.btn{
  margin-right: 5px;
  margin-left: 5px;
}

.scene-toggle-btn {
  height: 100%;
}

.toggle-button {
  padding: 0;
}
*/

.button-group{

}

:host {
  display: grid;
  grid-template-rows: auto;
}
