<div class="grid-container">
  <div
    class="grid-item"
    *ngFor="let pad of pads"
    [ngStyle]="{'grid-column':pad.column,'grid-row':pad.row}"
    [attr.data-note]="pad.note" #padElement>

    <span>{{pad.note}}</span>
    <span *ngIf="pad.keyBinding">({{pad.keyBinding}})</span>
   <!-- <button
      (click)="learnKey(triggerInfo)"
      [ngClass]="{'active':keyToLearnTarget && keyToLearnTarget.note===triggerInfo.note}"
      type="button"
      class="btn assign-btn">
      assign key
    </button>-->
  </div>
</div>
<!--
[ngClass]="{'active':currentNote === triggerInfo.note}"-->
