@import "utils";

$pad-color: rgba(79, 93, 117, 1);
:host {
  display: grid;
  grid-template-rows: 1fr;

}

.grid-container {
  padding: 5px;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.pad {
  background-color: $pad-color;

  &.fixed{
    background-color: red;
  }
  &.pushed{
    background-color: darken($pad-color,10%);
  }
}

.grid-item {
  position: relative;

  border: 1px solid black;
  @include vertical-center;

  &.active {
    background-color: lighten($pad-color, 5%);
  }

  .assign-btn {
    font-size: 10px;
    position: absolute;
    height: 15px;
    line-height: 15px;
    bottom: 0;
    width: 100%;
  }
}
