<!--<div class="card">
  <div class="card-header">
<button type="button" class="btn " (click)="increaseSize()">+</button>
<button type="button" class="btn " (click)="decreaseSize()">-</button>
  </div>-->

test {{rows}}
<table class="table table-bordered" *ngIf="pad">
  <tbody>
  <tr *ngFor="let row of pad.grid;let i=index">
    <td #trigger
        *ngFor="let triggerInfo of row;let j=index"
        [attr.data-note]="triggerInfo.note"
        [className]="'size-'+size">
      <span>{{triggerInfo.title}}</span>
    </td>
  </tr>
  </tbody>
</table>

