@import "utils";

$pad-color: rgba(79, 93, 117, 1);
:host{
  height:100%;
  display:grid;
  grid-template-rows: 50px 1fr;
}
.grid-container {
  padding:5px;
  display: grid;
  overflow:hidden;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
}

/*.grid-item:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}*/

.grid-item {
  position: relative;
  background-color: $pad-color;
  border:1px solid black;
  @include vertical-center;

  &.active{
    background-color: lighten($pad-color,5%);
  }
  .assign-btn{
    position: absolute;
    bottom:0;
    width:100%;
  }
}

span{

}


/*table {

  table-layout: fixed;
  span{
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
   !* display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       !* the same as your div height *!*!

  }
  td {


    background-color: $pad-color;
    &:hover {
      filter: brightness(90%);
    }
    &.size-0 {
      width: 100px;
      height: 100px;
    }
    &.size-1 {
      width: 200px;
      height: 200px;
    }
  }

}*/
