
  <button type="button" class="btn btn-tertiary"
          (click)="noteLengthSelected.emit(0.25)">1/4</button>
  <button type="button" class="btn btn-tertiary"
          [ngClass]="{'active':quantization===0.125}"
          (click)="noteLengthSelected.emit(0.125)">1/8</button>
  <button type="button" class="btn btn-tertiary"
          [ngClass]="{'active':quantization===0.0625}"
          (click)="noteLengthSelected.emit(0.0625)">1/16</button>
  <button type="button" class="btn btn-tertiary"
          [ngClass]="{'active':quantization===0.083333333333333}"
          (click)="noteLengthSelected.emit(0.083333333333333)">8th Trip</button>


