<a2d-desktop *ngIf="project && project.ready">
  <div class="windows">
    <a2d-window
      [id]="'matrix'"
      [title]="''"
      [state]="WindowState.DOCKED"
      [dockPosition]="DockPosition.TOP"
      [x]="400"
      [y]="400"
      [width]="400"
      [height]="400">
      <div class="header">
        <ul class="nav">
          <li>
            <a [ngClass]="{'active':project?.metronomeEnabled | async}"
               href [routerLink]="" (click)="switchMetronome()"><img class="" src="assets/icons/metronome.png">
            </a>
          </li>
          <li>
            <div>
              <ng5-slider class="" [value]="project?.transportSettings.global.bpm" [options]="slider.options"
                          (userChange)="changeTempo($event)">
              </ng5-slider>
            </div>

          </li>
          <li><a href [routerLink]="">{{project?.transportSettings.global.bpm}}</a></li>
          <li class="float-right"><a href [routerLink]="" (click)="close()"><i class="fas fa-times"></i></a></li>
          <li class="float-right"><a href [routerLink]="" (click)="save()"><i class="far fa-save"></i></a></li>
        </ul>
      </div>
      <div class="body">

        <daw-matrix [project]="project"></daw-matrix>

      </div>
    </a2d-window>
    <a2d-window
      [id]="'sequencer'"
      [title]="'sequencer'"
      [state]="WindowState.DOCKED"
      [dockPosition]="DockPosition.BOTTOM_LEFT"
      [x]="400"
      [y]="400"
      [width]="400"
      [height]="400">
      <div class="header">

      </div>
      <div class="body">
        <sequencer-footer [project]="project" *ngIf="project.selectedPattern | async" [pattern]="project.selectedPattern | async"></sequencer-footer>
        <sequencer [project]="project" [pattern]="project.selectedPattern | async"></sequencer>

      </div>
    </a2d-window>
    <a2d-window
      [id]="'plugin-panel'"
      [title]="'plugins'"
      [state]="WindowState.DOCKED"
      [dockPosition]="DockPosition.BOTTOM_RIGHT"
      [x]="400"
      [y]="400"
      [width]="400"
      [height]="400">
      <div class="body">
        <plugin-panel [project]="project" [track]="project.selectedTrack.getValue()"></plugin-panel>

      </div>
    </a2d-window>
  </div>
  <div class="bar-left">

    <a2d-shortcut [appId]="'push'" [icon]="'/assets/images/push.png'"></a2d-shortcut>

  </div>
</a2d-desktop>

<recorder *ngIf="project" [project]="project"></recorder>



<!--<nav class="navbar fixed-top top-navbar" *ngIf="project?.ready">
  <form class="form-inline w-100 h-100">
    <div class="w-50 h-100">
      <button type="button" class="btn " [ngClass]="{'active':project?.metronomeEnabled | async}"
              (click)="switchMetronome()"><img class="icon-image" src="assets/icons/metronome.png"></button>

      <ng5-slider class="" [value]="project?.transportSettings.global.bpm" [options]="slider.options"
                  (userChange)="changeTempo($event)">
      </ng5-slider>
      <span>&nbsp;{{project?.transportSettings.global.bpm}}</span>

    </div>
    <div class="w-25 ">
      <div class="btn-group float-right">
        <button class="btn  " type="button" (click)="save()"><i class="far fa-save"></i></button>
        <button class="btn  " type="button" (click)="close()"><i class="fas fa-times"></i></button>
      </div>
    </div>


  </form>
</nav>

<div class="drag-container"  *ngIf="project && project.ready">
  <daw-settings [project]="project"
              [ngStyle]="{'z-index':getWindow('settings').zIndex}"
              [ngClass]="getWindow('settings').clazz"></daw-settings>

  <sequencer [ngClass]="getWindow('sequencer').clazz"
             [ngStyle]="{'z-index':getWindow('sequencer').zIndex}"
             [project]="project"
             [pattern]="project.selectedPattern | async"></sequencer>

 &lt;!&ndash; <pads  *ngIf="getWindow('plugin').state!= WindowState.CLOSED" class="body"  [rows]="3" [columns]="3"
         project="project"
         [ngStyle]="{'z-index':getWindow('plugin').zIndex}"
         [ngClass]="getWindow('plugin').clazz"
         [pad]="project.selectedTrack.getValue()?.plugins[0].getInfo().pad">

  </pads>&ndash;&gt;


&lt;!&ndash;  <plugin-panel *ngFor="let track of project.tracks"
                [project]="project"
                [window]="window"
                [pluginId]="track.getInstrumentPlugin().getId()"
                [ngStyle]="{'z-index':getWindow(track.getInstrumentPlugin().getId()).zIndex}"
                [ngClass]="getWindow(track.getInstrumentPlugin().getId()).clazz">
  </plugin-panel>&ndash;&gt;

 &lt;!&ndash; <plugin-panel *ngFor="let window of project?.desktop.getOpenWindows()"
                [project]="project"
                [window]="window"
                [pluginId]="window.pluginId"
                (positionXChanged)="window.x=$event"
                (positionYChanged)="window.y=$event"
                [ngStyle]="{'width':window.width+'px','height':window.height+'px'}"
                class="" interact>
  </plugin-panel>&ndash;&gt;
  &lt;!&ndash;  <div class="vertical-line"></div>&ndash;&gt;


  <project-observer [project]="project" [tracks]="project?.tracks"></project-observer>


  <app-footer [project]="project"></app-footer>
</div>-->
