.sidebar {
  grid-area: sidebar;
  display:grid;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  display:grid;
}

.wrapper {
  display: grid;
  width:100vw;
  height:100vh;
  grid-gap: 5px;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer  footer  footer";
 // background-color: $color-tertiary;
}

.box {
  //border-radius: 5px;
  //padding: 10px;
}

.header,
.footer {
  //background-color: light($color-primary);
}

