.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  overflow: auto;

}

.wrapper {
  display: grid;
  width:100%;
  height:100%;
  grid-gap: 5px;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer  footer  footer";
 // background-color: $color-tertiary;
}

.box {
  //border-radius: 5px;
  //padding: 10px;
}

.header,
.footer {
  //background-color: light($color-primary);
}

