<nav class="navbar fixed-top top-navbar" *ngIf="project?.ready">
  <form class="form-inline w-100 h-100">
    <div class="w-25 h-100">
      <button class="btn default-btn h-100" type="button"
              (click)="setLayout(0)" [disabled]="getLayout()===0"><i class="fas fa-arrow-circle-down"></i>
      </button>
      <button class="btn default-btn h-100" type="button"
              (click)="setLayout(1)" [disabled]="getLayout()===1"><i class="fas fa-arrow-circle-right"></i>
      </button>
      <!--   <button class="btn default-btn h-100" type="button"
                 [ngClass]="{'active': project?.openedWindows.indexOf('sequencer')>=0}"
                 (click)="toggleSequencer()">Sequencer
         </button>
         <button class="btn default-btn h-100" type="button"
                 [ngClass]="{'active': project?.openedWindows.indexOf('plugin')>=0}"
                 (click)="togglePlugin()">Plugin
         </button>-->
    </div>
    <div class="w-50 h-100">
      <button type="button" class="btn default-btn" [ngClass]="{'active':project?.metronomeEnabled | async}"
              (click)="switchMetronome()"><img class="icon-image" src="assets/icons/metronome.png"></button>

      <ng5-slider class="" [value]="project?.transportSettings.global.bpm" [options]="slider.options"
                  (userChange)="changeTempo($event)">
      </ng5-slider>
      <span>&nbsp;{{project?.transportSettings.global.bpm}}</span>

    </div>
    <div class="w-25 ">
      <div class="btn-group float-right">
        <button class="btn default-btn " type="button" (click)="save()"><i class="far fa-save"></i></button>
        <button class="btn default-btn " type="button" (click)="close()"><i class="fas fa-times"></i></button>
      </div>
    </div>


  </form>
</nav>

<div class="drag-container" *ngIf="project && project.ready">
  <daw-matrix [project]="project"
              [ngClass]="getWindow('matrix').clazz"></daw-matrix>

  <sequencer [ngClass]="getWindow('sequencer').clazz"
             [ngStyle]="{'z-index':getWindow('sequencer').zIndex}"
             [project]="project"
             [pattern]="project.selectedPattern | async"></sequencer>


  <!--  <div class="vertical-line"></div>-->


  <project-observer [project]="project" [tracks]="project?.tracks"></project-observer>
  <recorder [project]="project"></recorder>

  <app-footer></app-footer>
</div>
