@import "../../variables";

.window-row-1 {
  height: 40vh;
  overflow: auto;
}

.window-row-2 {
  height: 40vh;
  overflow: auto;
}

.window{
  position: absolute;
}
.drag-container {

  //height:95vh;
}

.main-container {
  //height: $main-container-height;
}

.top-navbar {
  height: $header-height;
  min-height: $header-height;
  background-color: $white;
  z-index: $z-index-navbar;
  .btn {
    margin-right: 5px;
  }
}

.tab-pane {
  height: $footer-height;
}

.footer {
  background-color: $secondary;
  height: $footer-height;
  z-index: $z-index-footer;
  /* background-color: $primary;*/
}

.dropdown-toggle::after {
  display: none;
}

nav {
  padding: 0;
}

.sequencer-container, .plugin-container {
  position: absolute;
  z-index: $z-index-sequencer;
}

:host /deep/ {
  .ng5-slider {
    margin: 0;
    width: 200px;

  }
}
