@import "../../../variables";

.add-row-btn {
  background-color: $secondary;
  color: $primary-color;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.add-row-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add-row-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add-row-btn:hover span {
  padding-right: 25px;
}

.add-row-btn:hover span:after {
  opacity: 1;
  right: 0;
}
