@import "variables";
/*@import "matrix-table";*/
@import "theme/utils";

.menu-btn {
  width: 30px;
  height:$header-height;
  &.menu-open {
    filter: brightness(50%);
  }
}

.content-cell {
  &:hover {

    filter: brightness(95%);
  }

  background-color: $color-1;
}

.cell-container {
  width: 100%;
  height: 100%;

  &.marked {
    border: 1px solid black;
  }
  &.editing {

  }

}

.marked{
  background-color: contrastColor("dark", "primary") !important;
}


:host {
  height:100%;

//position: absolute;
}

