<div class="cell" *ngFor="let cell of project.matrix.header;let i=index" [attr.id]="cell.id">
  {{cell.data?.name}}
</div>
<ng-container *ngFor="let row of project.matrix.body;let i=index">
  <div
    class="cell"
    *ngFor="let cell of row;let j=index" [attr.id]="cell.id"
    [ngStyle]="
        {
        'grid-column-start':j+1,
        'grid-column-end':j+1,
        'grid-row-start':i+2,
        'grid-row-end':i+2}">

    <ng-container *ngIf="cell.data" (dblclick)="onCellContainerClicked(cell)" >
      <div *ngIf="cell.menuOpen">
        <body-cell-menu [cell]="cell"></body-cell-menu>
      </div>
      <button
        type="button"
        *ngIf="!cell.menuOpen"
        (click)="onCellBtnClicked(cell,$event)">
        <i *ngIf="!project.isRunningWithChannel(cell.data.id)" class="fas fa-play fa-2x"></i>
        <i *ngIf="project.isRunningWithChannel(cell.data.id)" class="fas fa-circle-notch fa-spin fa-2x"></i>
      </button>
      <button
        mat-flat-button
        color="accent"
        (click)="cell.menuOpen=!cell.menuOpen">
      </button>
    </ng-container>
    <div class="cell"  (dblclick)="bodyCellDblClicked(cell)" *ngIf="!cell.data"></div>

  </div>
</ng-container>
<div class="console-cell" *ngFor="let cell of project.matrix.header;let i=index" [attr.id]="cell.id">
  <daw-console *ngIf="cell.data" [project]="project" [track]="cell.data"></daw-console>
</div>

