@import "theme";

$column-min:80px;
$column-max:150px;
$row-min:40px;
$row-max:50px;

:host{
  grid-area: content;
  display:grid;
  grid-gap: 2px;
  grid-auto-rows: minmax($row-min,$row-max);
  grid-auto-columns: minmax($column-min,$column-max);
  overflow: auto;
}

.cell{
  display:grid;
  grid-gap: 2px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 20px;
  background-color: $color-secondary;
}
