@import "variables";
/*@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';*/

table {


  table-layout: fixed;
  th, td {
    padding: 0;
    height:50px;
    max-height: 50px;

  }

  td {
    border-style: dashed;
    border-width: thin;

  }

  .row-header{
    .row{
      margin:0;
    }
    div{
      padding:0;
      text-align: center;
      line-height:50px;
    }
  }

  thead {
    th {
      font-size: 12px;
      .header-text {
        white-space: normal;
        width: 50px;
        float: left;
        margin-left: 10px;
      }

    }
  }
  tfoot {
    td {
      height: $console-height;
      max-height: $console-height;
      border-style: solid;
    }

    .console-cell{
      padding-left:10px;
      .btn-group-vertical{
        margin:15px;
      }
    }
  }

  &.size-1 {
    .column-header {
      width: 180px;
      max-width: 180px;
      border: 1px solid black;
    }
    .row-header {
    /*  width: 50px;
      max-width: 100px;*/
      border-style: solid;
    }
  }
}

