<!--<rangeslider
  [min]="0"
  [max]="100"
  [value]="track?.controlParameters.gain.getValue()"
  [disabled]="!track"
  (valueChanged)="changeGain($event)">
</rangeslider>-->
<div class="row">
  <div class="w-50">
    <div class="slider-container">
      <ng5-slider [(value)]="slider.value" [options]="slider.options" (userChange)="changeGain($event)">

      </ng5-slider>
    </div>
  </div>
  <div class="w-50">

    <div class="btn-group-vertical" role="group" aria-label="Basic example">
      <button type="button" class="btn mute-btn" [disabled]="!track"
              [ngClass]="{'active':track?.controlParameters.mute.getValue()}" (click)="mute()">M</button>
      <button type="button" class="btn solo-btn" [disabled]="!track"
              [ngClass]="{'active':track?.controlParameters.solo.getValue()}" (click)="solo()">S</button>
    </div>

  </div>
</div>


