@import "variables";
@import "utils";
@import "bootstrap_conflicts";

#shortcut-push{
  filter:invert(100%);

}

.angular2-desktop {
  background: url("/assets/images/ableton.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.window{
  min-height: 300px !important;
}

.window-header {
  background-color: theme-color('background',"dark") !important;
  color:white !important;
  @include text-color();


}

.window-body {
  background-color: theme-color('background');
  border-left: 2px solid theme-color('primary');
  border-right: 2px solid theme-color('primary');
  border-bottom: 1px solid theme-color('primary');
}

.window-btn {
  background-image: none;
  background-color: theme-color('background');
  border: 1px solid theme-color('background', 'dark');
  color: theme-color('foreground');
  &.danger {
    background-color: theme-color('accent');
  }
}

.bar-container {
  background-color: transparent ;
  color: theme-color('foreground');
}

.bar-top-container {

}

.bar-left-container {

}

.taskbar-entry {
  span {
    color: theme-color("foreground");
  }
  &.active {
    background-color: theme-color("accent");
  }
  &:hover {
    background-color: theme-color("background");
  }

}

.bar-dummy {
  background-color: black;
  opacity: 0.3;
}

.preview-rect {
  background-color: theme-color('background');
  opacity: 0.5;
}

.shortcut {
  .circle {
    background-color: theme-color('accent');
  }

  &:hover {
    background-color: theme-color('background');
    cursor: pointer;
  }

}
