$lightDarkOffset:10%;
$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

$theme-colors: (
  'primary': (
    'base': #555555,
    'light': lighten(#555555,$lightDarkOffset),
    'dark': darken(#555555,$lightDarkOffset)
  ),
  'accent': (
    'base': #E7650F,
    'light': lighten(#E7650F,$lightDarkOffset),
    'dark':  darken(#E7650F,$lightDarkOffset)
  ),
  'foreground': (
    'base': #323232,
    'light': lighten(#323232,$lightDarkOffset),
    'dark': darken(#323232,$lightDarkOffset)
  ),
  'background': (
    'base': #8D8D8D,
    'light': lighten(#8D8D8D,$lightDarkOffset),
    'dark': #5A5A5A
  )
);

//linear-gradient(#8B8A84, #5F5E59)  !default;
$contrast-colors: (
  'dark': (
    'primary': #FFC907,
    'secondary': #FF3223,
    'disabled': rgba(255, 255, 255, .5),
    'hint': #19E9FF
  ),
  'light': (
    'primary': rgba(255, 255, 255, .5),
    'secondary': rgba(0, 0, 0, .54),
    'disabled': rgba(0, 0, 0, .38),
    'hint': rgba(0, 0, 0, .12)
  ),
);

$text-settings: (
  'xs': (
    font-size: .75rem, // 12px
    line-height: $base-line-height
  ),
  'sm': (
    font-size: .875rem, // 14px
    line-height: $base-line-height
  ),
  'base': (
    font-size: 1rem, // 16px
    line-height: $base-line-height
  ),
  'md': (
    font-size: 1.125rem, // 18px
    line-height: $base-line-height * 2
  ),
  'lg': (
    font-size: 1.25rem, // 20px
    line-height: $base-line-height * 2
  ),
  'xl': (
    font-size: 1.5rem, // 24px
    line-height: $base-line-height * 2
  )
)
