<div class="btn-group dropright h-100 float-right">
  <button type="button" class="btn default-btn dropdown-toggle border-0 btn-block rounded-0 cell-btn"
          [ngStyle]="{'background-color':color}"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-angle-right"></i>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Delete</a>
    <div class="dropdown-divider"></div>


    <a class="btn dropdown-item hvr-grow"
       href
       [routerLink]=""
       (click)="selectColor(color)"
       [ngStyle]="{'background-color':color}"
       *ngFor="let color of colors">&nbsp;</a>

  </div>
</div>
