@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$color6: rgba(102, 153, 204, 1);
$color7: rgba(255, 242, 117, 1);
$color8: rgba(255, 140, 66, 1);
$color9: #EE163B;//rgba(255, 60, 56, 1);
$color10: rgba(162, 62, 72, 1);

$color1: rgba(45, 49, 66, 1);
$color2:  #C1D2E9;//rgba(191, 192, 192, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(239, 131, 84, 1);
$color5: rgba(79, 93, 117, 1);
$color11: #8897af;

$red:red;
$blue:$color6;


$theme-colors: (
  "primary": $color1,
  "secondary": $color2,
  "tertiary": $color10,
  "danger": $color9,
  "info":$color3,
  "warning":$color5
);

$enable-gradients:true;
$enable-shadows:true;
$card-bg:lighten($body-bg,10%);
$body-bg: lighten(#54647d,10%); //linear-gradient(#54647d, #313946);// no-repeat right top;
$body-color: $gray-900;

$header-height: 5vh;
$main-height:75vh;
$footer-height: 20vh;
$matrix-height:73vh;
$sequencer-height:60vh;
$sequencer-width:1200px;
$console-height:20vh;

$table-head-bg:darken($color2,15%);
$table-bg:$color11;
$table-accent-bg:$color11;//darken($color2,5%);
$table-border-color:$color1;

$table-hover-bg:lighten($color2,10%);
$table-active-bg:$color7;
$table-head-color:red;


