

$primary:#858585;
$secondary:#585858;
$tertiary: rgba(79, 93, 117, 1);
$red:#EE163B;

$primary-color:black;
$alt-color:rgba(239, 131, 84, 1);

$header-height: 5vh;
$main-height:55vh;
$footer-height: 40vh;

$matrix-height:55vh;
$sequencer-height:60vh;
$sequencer-width:1200px;
$console-height:20vh;
$cell-width:150px;







/*
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$color6: rgba(102, 153, 204, 1);
$color7: rgba(255, 242, 117, 1);
$color8: rgba(255, 140, 66, 1);
$color9: #EE163B;//rgba(255, 60, 56, 1);
$color10: rgba(162, 62, 72, 1);

$color1: rgba(45, 49, 66, 1);
$color2:  #C1D2E9;//rgba(191, 192, 192, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(239, 131, 84, 1);
$color5: rgba(79, 93, 117, 1);
$color11: #858585;
$color12: #8897af;

$red:red;
$blue:$color6;

$primary:#858585;
$secondary:#585858;
$tertiary: rgba(79, 93, 117, 1);

$primary-color:black;
$alt-color:$color5;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "danger": $color9,
  "info":$color3,
  "warning":$color5
);

$enable-gradients:false;
$enable-shadows:false;
$card-bg:lighten($body-bg,10%);
$body-bg: $primary;
$body-color: black;

$active-background:red;
$header-height: 5vh;
$main-height:55vh;
$footer-height: 40vh;

$matrix-height:55vh;
$sequencer-height:60vh;
$sequencer-width:1200px;
$console-height:20vh;


$table-bg:$color11;
$table-accent-bg:$color11;//darken($color2,5%);
$table-border-color:$secondary;
$table-hover-bg:lighten($color2,10%);
$table-active-bg:$color7;

$dropdown-bg:$white;

$active-background:red;

$link-color:$primary-color;
$nav-tabs-border-color:$tertiary;
$cell-width:150px;


*/
