@import "scss/variables";
/*@import "bootstrap.variables";*/
/*@import "global";*/
@import 'scss/scrollbar';
@import 'scss/slider';
@import 'scss/utils';
@import 'scss/dropdowns';
@import 'scss/buttons';
@import "scss/theme/theme";

:host /deep/{

}
.icon-image {
  width: 30px;
  height: 30px;
}

body{
  background-color: white;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.no-wrap{
  white-space: nowrap;
  display:inline-block !important;
}

.window-body,.body{
  height:100%;
  width:100%;
}

