@import "variables";
@import 'scrollbar';
@import '~bootstrap/scss/bootstrap';


html, body {
  min-width:500px;
}

body{
  padding-top: 70px;

  overflow: auto;
}

.main-container {
  height: $main-height;
}
.no-wrap{
  white-space: nowrap;
  display:inline-block !important;
}
:host /deep/ {
  .footer {
    border-top: 1px solid black;
    padding: 0;
    height: 300px;
  }



}

