
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin btn-group-vertical {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2px;
}

.center {
  @include center;
}
.btn-group-vertical {
  @include btn-group-vertical;
}

@mixin flex-center-container(){
  display: flex;
  justify-content: center;
  align-items: center;
}


