

body{
  background-color: white;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.no-wrap{
  white-space: nowrap;
  display:inline-block !important;
}


span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
