@import "mixins/all";
@import "variables";

.body{
  color:$text-color;;
}
.center {
  @include center;
}

.btn-group-vertical {
  @include btn-group-vertical;
}

span,label,h1,h2,h3,h4,h5,h6{
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
