@import 'variables';

.list-box {
  overflow: hidden;
}

ul {
  li:nth-child(even) {
    background-color: $primary-dark;
  }

  list-style-type: none;

  padding: 2px;
  li {
    padding: 2px;
  }

  .list-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 80px;
   // border-bottom: 1px solid $black;
  }
}
