@import "./theme/variables";
@import "./theme/utils";

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;

  li {
    float: left;
    border-right: 1px solid theme-color("primary", "light");
  }

  li:last-child {
    border-right: none;
  }

  li a,div {
    display: block;
    color: contrastColor("light", "primary");
    text-align: center;
    padding: 0 16px;
    text-decoration: none;

    img {
      margin-top: 5px;
      width: 30px;
      height: 30px;
    }
  }

  li a:hover:not(.active) {
    background-color: theme-color("background");
  }

  .active {
    background-color: theme-color("accent");
  }

}

