
$primary: #1f2833;
$primary-light:lighten($primary,10%);
$primary-dark:darken($primary,10%);
$secondary: #C5C6C7;
$tertiary: #d2ba92;
$secondary-light: lighten($secondary,15%);
$secondary-dark: darken($secondary,15%);
$accent: #66FCF1;
$accent-alt:#45A29E;
$white:#fff;
$black:#0b0c10;
$text-color:#b7bdac;
$site-bg:$primary;

$cell-color:$secondary;
