<div class="fixed-bottom btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <transport></transport>
  <toolbar>
    <button type="button" class="btn btn-secondary" (click)="addMidiTrack()">+Track</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
  </toolbar>
  <div class="btn-group-toggle" data-toggle="buttons" *ngIf="project">
    <label class="btn btn-secondary active" [ngClass]="{'active':project.model.metronomeEnabled}">
      <input id="metronomeEnabled"
             (click)="project.model.metronomeEnabled=!project.model.metronomeEnabled"
             type="checkbox" [attr.checked]="project.model.metronomeEnabled?'':null"
             autocomplete="off"
             name="metronomeEnabled"> metronome
    </label>

  </div>
</div>
